{#

This file is part of «Letters of Russian sovereigns to the Republic of Venice» database.

Copyright (c) Department of Linguistic and Literary Studies of the University of Padova

«Letters of Russian sovereigns to the Republic of Venice» database is free software:
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation, version 3.

«Letters of Russian sovereigns to the Republic of Venice» database is distributed
in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. If you have not received
a copy of the GNU General Public License along with
«Letters of Russian sovereigns to the Republic of Venice» database,
see <http://www.gnu.org/licenses/>.

#}

{% extends 'base.html.twig' %}

{% block page_title %}{{ block('title') }} №{{ letter.id }}{% endblock %}

{% block page_content %}

    {% import _self as self %}

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'controller.letter.show.letter.label.date'|trans }}</th>
                <td>{{ letter.date|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>{{ 'controller.letter.show.letter.label.senders'|trans }}</th>
                <td>{{ self.format_senders(letter.senders) }}</td>
            </tr>
            <tr>
                <th>{{ 'controller.letter.show.letter.label.recipient'|trans }}</th>
                <td>{{ self.format_recipient(letter.recipient) }}</td>
            </tr>
            <tr>
                <th>{{ 'controller.letter.show.letter.label.text'|trans }}</th>
                <td>{{ letter.text }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{%- macro format_senders(senders) -%}
    {% import _self as self %}

    {{ senders|map(sender => self.format_person(sender))|join(', ')|raw }}
{%- endmacro -%}

{%- macro format_recipient(recipient) -%}
    {% import _self as self %}

    {%- if recipient is not null -%}
        {{ self.format_person(recipient) }}
    {%- else -%}
        {{ '-' }}
    {%- endif -%}
{%- endmacro -%}

{%- macro format_person(person) -%}
    <a href="{{ path('person__show', {'id': person.id}) }}">{{ person.fullName }}</a>
{%- endmacro -%}
