{#
# This file is part of «Letters of Russian sovereigns to the Republic of Venice» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Letters of Russian sovereigns to the Republic of Venice» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Letters of Russian sovereigns to the Republic of Venice» database is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Letters of Russian sovereigns to the Republic of Venice» database,
# see <http://www.gnu.org/licenses/>.
#}

{%- extends 'base.html.twig' -%}

{% block page_title %}{% endblock %}

{% block page_content %}

    {% import 'content/post.html.twig' as post_helper %}
    {% import _self as self %}

    {{ post_helper.render_post_body(post, false) }}

    {{ self.render_favorite_letters(letters) }}
{% endblock %}

{% macro render_favorite_letters(letters) %}
    {% import _self as self %}

    <div class="lors-card-columns card-columns">
        {% for letter in letters %}
            {{ self.render_favorite_letter(letter) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_favorite_letter(letter) %}
    {% import _self as self %}

    <a href="{{ path('letter__show', {'id': letter.id}) }}">
        <div class="lors-card card">
            <div class="card-body">
                <h4 class="card-title">{{ letter.date|date('d.m.Y') }}</h4>
                <div class="card-text">
                    <div class="lors-additional-data-container small">
                        <div class="lors-additional-data lors-additional-data-left">{{ letter.senders|map(sender => sender.fullName)|join(', ') }}</div>
                        <div class="lors-additional-data lors-additional-data-right">{{ letter.recipient is null ? '' : letter.recipient.fullName }}</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endmacro %}